@page "/Customers/Create"
@using BlazorProject.Shared.Models;
@inject HttpClient http
@inject IToastService toastService
@inject NavigationManager NavigationManager

<div class="row bg-light shadow justify-content-center">
    <div class="col-12">
        <h3 class="text-center fw-bold text-secondary mb-4 mt-4">Create Customer</h3>
        <EditForm Model="@customer" OnValidSubmit="SaveCustomer">
           
            <DataAnnotationsValidator />
            <div class="form-group row mb-2 mt-4">
                
                <label class="col-form-label fw-bold text-secondary col-4 text-end" for="@customer.CustomerName">Customer name</label>
                <div class="col-6">
                    <InputText @bind-Value="customer.CustomerName" class="form-control" />
                    <ValidationMessage For="@(()=>customer.CustomerName)" class="text-danger" />
                </div>
            </div>
             <div class="form-group row mb-1">
                <label class="col-form-label fw-bold text-secondary col-4 text-end" for="@customer.Address">Address</label>
                <div class="col-6">
                    <InputTextArea @bind-Value="customer.Address" class="form-control" />
                    <ValidationMessage For="@(()=>customer.Address)" class="text-danger" />
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col-form-label fw-bold text-secondary col-4 text-end" for="@customer.Email">Email</label>
                <div class="col-6">
                    <InputText  @bind-Value="customer.Email" class="form-control" />
                    <ValidationMessage For="@(()=>customer.Email)" class="text-danger" />
                </div>
            </div>
            <div class="form-group row mb-4">
              
                <div class="col-9 offset-1 mt-3 d-flex justify-content-between">

                    <a href="/Customers/List" class="btn btn-link shadow">Back to list</a>
                    <button type="submit" class="btn btn-outline-primary shadow btn-sm">Save</button>
                    
                </div>
            </div>
        </EditForm>
    </div>
    
</div>

@code {
    private Customer customer = new();
    private async Task SaveCustomer()
    {
        var respose = await http.PostAsJsonAsync("api/Customers", customer);
        if (respose.IsSuccessStatusCode)
        {
            toastService.ShowSuccess("Data saved successsfully");
            customer = new();
            NavigationManager.NavigateTo("/Customers/List");
        }
    }
}
